<div class="panel-group" id="accordion">
  <% if activities.empty? %>
      No Activity available.
  <% else %>
      <%= render partial: "message_broker/activities/activity", collection: activities %>
  <% end %>
</div>
