<%= link_to 'New Activity', new_activity_path %>
<div class="index">
  <div class="lines"></div>
  <ul class="list">
    <%= render partial: "message_broker/activities/activity", collection: @activities unless @activities.empty? %>
  </ul>
</div>

