<div class="main-content">
  <div class="row">
    <div class="jumbotron col-md-12">

      <h4>Instruction set</h4>

      <ul>
        <li>
          Add this line to your application's Gemfile: <code>gem 'message_broker'</code>
        </li>

        <li>
          And then run: <code>bundle install</code>
        </li>

        <li>
          Add initializer file with content (All existing models needs to have MessageBroker).
            <pre>
Rails.application.eager_load!
ActiveRecord::Base.descendants.each do |descendant|
    descendant.send(:include, MessageBroker::Injector)
end
            </pre>
        </li>

        <li>
          Use a queueing backend to enqueue MessageBroker jobs in the future. Example configuration(s) for sidekiq
          given below
            <pre>
config.active_job.queue_adapter = :sidekiq # to config/application.rb

# To config/sidekiq.yml
---
:concurrency: 5
:pidfile: tmp/pids/sidekiq.pid
staging:
  :concurrency: 10
production:
  :concurrency: 20
:queues:
  - default
  - [mailers, 2]

            </pre>

        </li>
        <li>
          Configure Mailer settings for your application.
        </li>
      </ul>

      <h4>Usage/How to use</h4>

      <ul>
        <li>
          Create some activities checkout <code>/message_broker/activities</code>
        </li>
        <li>
          Create some rules. checkout <code>/message_broker/rules</code>
        </li>
        <li>
          Play safely(under-development)!
        </li>

      </ul>

    </div>
  </div>
</div>
