<div class="rule_index">
  <div class="lines"></div>
  <ul class="list">
    <%= render partial: "message_broker/rules/rule", collection: @rules unless @rules.empty? %>
  </ul>

</div>
<div class="error_div">
<%= render 'message_broker/rules/form' %>
</div>