<% if @rule.save %>
$(".list").append('<%= j render(@rule)%></li>');
<% else %>
$('#error_explanation').html('<%= j(render :partial => 'message_broker/shared/error_messages', locals: {object: @rule}) %>');
<% end %>
