<div class="row">
  <div id="main-content" class="col-md-12">
    <h4>Available Rule Set</h4>

    <div id="rule-index">
      <% if @rules.empty? %>
          No rules available.
      <% else %>
          <%= render partial: "message_broker/rules/rules_list", locals: {rules: @rules} %>
      <% end %>
    </div>

    <%= render 'message_broker/rules/form' %>
  </div>
</div>

