<% if object.errors.any? %>
    <h4><%= pluralize(object.errors.count, "error") %> prohibited this rule from being saved:</h4>
    <ul>
      <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
