<footer class="footer">
  <div class="container">
    <p>
      Developed at <%= link_to('Headerlabs', 'http://www.headerlabs.com/') %>
      developed by <%= link_to 'Rajeev Kannav Sharma', 'http://rajeevkannav.github.io/' %>
      authored by <%= link_to 'Praveen Kumar Sinha', 'http://anaphoral.blogspot.in/' %>
      and code licensed under <%= link_to('MIT', 'https://opensource.org/licenses/MIT') %>.
    </p>
  </div>
</footer>
