<!DOCTYPE html>
<html>
<head>
  <title>MessageBroker</title>
  <%= stylesheet_link_tag    "message_broker/application", media: "all" %>
  <%= javascript_include_tag "message_broker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
